{% extends 'base.html.twig' %}

{% block body %}
    <h1>Bienvenue dans notre site</h1>

    <p>Ponderibus qua nimis curarum eique curarum scriptis auxilio curarum vi urgentis vi destitutus nimis mollioribus tractatus ullo per Gallum incumberet eundem obstaculo obstaculo obstaculo valido auxilio fieret nodum eique clandestinis quibusve rebus pertinacius eique urgentis destitutus acciri mollioribus nisu tamquam.</p>
    <p>Ponderibus qua nimis curarum eique curarum scriptis auxilio curarum vi urgentis vi destitutus nimis mollioribus tractatus ullo per Gallum incumberet eundem obstaculo obstaculo obstaculo valido auxilio fieret nodum eique clandestinis quibusve rebus pertinacius eique urgentis destitutus acciri mollioribus nisu tamquam.</p>

{% endblock %}